body{
    height: 100vh;
    display: grid;
    margin: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "a a d "
    "b b c "
    "b b c ";
}

.lewy{
    float: left;
    height: 200px;
    width: 200px;
    padding: 10px;
}
.prawy{
    float: left;
    height: 200px;
    width: 200px;
    padding: 10px;
}
.itema{
    background: khaki;
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemb{
    background: darkgoldenrod;
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemc{
    background: wheat;
    grid-area: c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemd{
    background: teal;
    grid-area: d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    text-decoration: none;
    color: black;
    padding: 20px 50px;
    background: gray;
    margin: 20px;
}