body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "a a d "
    "b b c "
    "b b c ";
}
.itema{
    background: khaki;
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemb{
    background: darkgoldenrod;
    grid-area: b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemc{
    background: wheat;
    grid-area: c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemd{
    background: teal;
    grid-area: d;
    display: flex;
  justify-content: center;
  align-items: center;
}
.link{
    text-decoration: none;
    color: black;
    padding: 20px 50px;
    background: gray;
    margin: 20px;
}